$lightGreen: #b9e7e7;
footer{
    margin-top: 100px;
    padding: 20px;
    background-color: $lightGreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    img{
        height: 50px;
    }
}